<div class="flex items-center justify-center border h-screen">
  <div class="rounded container">
    <div class="form-container">
      <form>
        <span>Sign in</span>
        <input type="text" placeholder="Email" />
        <input type="password" placeholder="password" />
        <p>Forget Your Password ?</p>
        <button type="button" routerLink="/dashboard">Login</button>
      </form>
      <div class="toggle-container">
        <div class="toggle">
          <div class="toggle-panel">
            <h1>Bienvenido de nuevo Amigo!</h1>
            <p>
              Nuestra misión es proteger lo que más importa. Cada día, nos
              comprometemos a ser la primera línea de defensa, ofreciendo
              tranquilidad y confianza a nuestros clientes. La seguridad no es
              solo nuestro trabajo, es nuestra promesa. Cuando estás bajo
              nuestra protección, puedes vivir y prosperar plenamente, sabiendo
              que siempre estamos vigilantes y preparados."
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
