.layout {
  background: #fff;
  border-radius: 20px;
  padding: 10px;
}

input,
select,
textarea {
  background-color: #eee;
  border: none;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.item {
  display: flex;
  gap: 10px;
  width: 100%;
}

.item .field {
  width: 100%;
  margin: 5px;
}

.buttons {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  justify-content: space-around;
}

.buttons button {
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.buttons button:hover {
  box-shadow: 1px 1px 1px 1px #f3f3f3;
}

.buttons .send {
  background-color: #695cfe;
}

.buttons .cancel {
  background-color: #dc3546;
}

.buttons .save {
  background-color: #218754;
}

canvas {
  background-color: #f3f3f3;
  border-radius: 5px;
  width: 68%;
}

.photo {
  background-color: #f3f3f3;
  color: #707070;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  border: 1px solid;
  cursor: pointer;
}

.photo {
  padding: 20px;
}
