<section class="bg-blue-400 m-10 p-5 rounded">
  <div class="flex justify-between mb-6">
    <h1>Virtual Minute</h1>
    <p>Fecha <span></span></p>
  </div>
  <hr />
  <div class="mb-6">
    <div class="content">
      <div class="left-side">
        <div class="detail-user detail">
          <i class="fa-solid fa-user-pen"></i>
          <div class="text-detail topic">Detail User</div>
        </div>
        <div class="detail-comment detail">
          <i class="fa-solid fa-comments"></i>
          <div class="text-comment topic">Comment</div>
        </div>
        <div class="detail-signature detail">
          <i class="fa-solid fa-signature"></i>
          <div class="text-signature topic">Signature</div>
        </div>
      </div>
      <div class="right-side">
        <form>
          <div class="input-box">
            <input type="text" placeholder="" />
          </div>
          <div class="input-box">
            <input type="text" placeholder="" />
          </div>
          <div class="input-box">
            <input type="text" placeholder="" />
          </div>
          <div class="input-box">
            <input type="text" placeholder="" />
          </div>
          <div class="input-box">
            <input type="text" placeholder="" />
          </div>
          <div class="input-box message-box">
            <textarea name="" id=""></textarea>
          </div>
          <!-- TODO CREAR CAMPO DE FIRMA -->

          <div class="button">
            <button type="button">Send Now !!! hola</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
