<section class="p-7" class="layout">
  <div class="m-5 flex items-center">
    <i class="fa-solid fa-book-bookmark fa-2xl"></i>
    <h1 class="m-3">Minuta Virtual</h1>
  </div>
  <form nz-form [formGroup]="formMinute" (ngSubmit)="send()">
    <!--  Formulario -->
    <div class="item">
      <div class="field">
        <label for="fullName">Nombres y Apellidos</label>
        <input
          type="text"
          formControlName="fullName"
          id="fullName"
          placeholder="Nombre completo del vigilante"
        />
      </div>
      <div class="field">
        <label for="workstation">Puesto de Trabajo</label>
        <input
          type="text"
          formControlName="workstation"
          id="workstation"
          placeholder="Puesto de trabajo del vigilante"
        />
      </div>
    </div>
    <div class="item">
      <div class="field">
        <label for="guardBadge">Placa Vigilante</label>
        <input
          type="text"
          formControlName="guardBadge"
          id="guardBadge"
          placeholder="Placa del vigilante completa"
        />
      </div>
      <div class="field">
        <label for="charge">Cargo / Funcion</label>
        <select id="charge" formControlName="charge">
          <option selected disabled>Seleccionar Cargo o Funcion</option>
          <option value="">User</option>
        </select>
      </div>
    </div>
    <div class="item">
      <div class="field">
        <label for="issue">Asunto</label>
        <select id="issue" formControlName="issue">
          <option selected disabled>Seleccionar Asunto</option>
          <option value="">User</option>
        </select>
      </div>
    </div>
    <div class="item">
      <div class="field">
        <label for="description">Descripción</label>
        <textarea
          placeholder="Descripcion de la minuta"
          id="description"
          formControlName="description"
          rows="10"
        ></textarea>
      </div>
    </div>
    <div class="item">
      <div class="field">
        <label for="description">Firma</label>
        <canvas
          #canvas
          width="400"
          height="200"
          style="border: 1px solid #000"
        ></canvas>
      </div>

      <div
        class="field signature_photo"
        style="
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
        "
      >
        <button class="photo" type="button">
          <i
            class="fa-solid fa-camera-retro fa-2xl"
            style="--fa-primary-opacity: 1"
          ></i>
        </button>
        <p>Tomar foto del guardia</p>
      </div>
    </div>
    <div class="buttons">
      <button type="button" class="cancel">Cancelar</button>
      <button type="button" class="save">Guardar</button>
      <button type="submit" class="send">Enviar</button>
    </div>
  </form>
</section>
